
<div class="card">
        <h1>{{post.name}}</h1>
        <h3>{{post.user}}</h3>
        <p>{{post.description}}</p>
      </div>

<br>
<h1>Comments:</h1>
<hr>

<div class="card">
      <h3>Ben</h3>
      <h5>20th nov 2021</h5>
      <p>Awsome Work mannnn</p>
</div>
<div class="card">
      <h3>Bob</h3>
      <h5>20th nov 2021</h5>
      <p>Cheers</p>
</div>
<br>
<form class="comment">
      <textarea name="commentText" id="" cols="71" rows="5">
      </textarea><br>
      <button type="submit"> Click Me to add comment</button>
</form>